html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
.nav-btn {
    padding-bottom: 15px;
}
.descriptionsection {
    background: url('https://lwrobotics.files.wordpress.com/2014/03/img_9896.jpg?w=900&h=366') no-repeat center center fixed;
    background-size: cover;
}
#foot {
    opacity: 0.4;
}
#foot:hover {
    opacity: 1;
}
/*HVR*/

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}